*.1
*.I[12]
*.[EIOX]
*.o
*/.deps
*~
*.orig
.gdb-history
.kludge-stamp
.tarball-version
.version
ABOUT-NLS
ChangeLog
GNUmakefile
ID
Makefile
Makefile.in
TAGS
THANKS-to-translators
aclocal.m4
autom4te.cache
build-aux/.gitignore
build-aux/compile
build-aux/config.guess
build-aux/config.sub
build-aux/depcomp
build-aux/install-sh
build-aux/mdate-sh
build-aux/missing
build-aux/texinfo.tex
build-aux/ylwrap
config.cache
config.h
config.hin
config.log
config.status
configure
Sim-*.tar.bz2
Sim-*.tar.bz2.sig
Sim-*.tar.gz
Sim-*.tar.gz.sig
Sim-*.tar.lzma
Sim-*.tar.lzma.sig
gnulib-tests
m4/.cvsignore
m4/.gitignore
maint.mk
stamp-h1
tests/*/*.log
